body {
	background-color: #ffffff;
	padding: 0px;
    margin: 0px;
	font-family: "Roboto", sans-serif;
}

h1 {
	font-weight: bold;
	text-align: center;
}

h3 {
	margin: 30px;
	padding-top: 50px;
	padding-bottom: 10px;
	color: black;
	text-align: center;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
}

.justificaTexto {
	text-align: justify;
}

button {
	background-color:#FF7200;
	border: none;
	color: #140083;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

button:hover{
	background-color: #140083;
	color: white;
	border:1px solid #fff;
}

/* INICIO - CARD */

/* Sombra e tamanho do card */
.card {
	margin:auto;
	margin-bottom: 30px;
	padding: 5px 16px;
	width: 20%;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

/* OnMouseOver do card */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

/* tamanho img ajustar ao pai */
img {
	max-width: 100%;
	max-height: 100%;
}

/* coloca cards em linha */
#noticias-card {
	display: flex;
	justify-content: space-between;
}

/* coloca cards em coluna */
@media screen and (max-width: 750px) {
	.card {
		margin-bottom: 50px;
		padding: 5px 16px;
		width: 100%;
		height: 100%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}

	#noticias-card {
		display: block;
	}
}

/* FIM - CARD */

/* INICIO - PAINEL COM VIDEO*/

.painel {
	width: auto;
	margin-bottom: 50px;
	background-color: #140083;
}

.painel h3 {
	color: #FF7200;
}

.painel p {
	margin-top: 80px;
	color: #fff;
	font-size: 21px;
}

.painel-coluna {
	padding: 0 60px;
	width: 50%;
}

.painel-linha {
	max-width: 80%;
	
	margin: 0 auto;
	display: flex;
	padding-bottom: 30px;
}

.painel-linha video {
	max-width: 80%;
	height: 420px;
	margin: 0 auto;
	display: flex;
	padding-bottom: 30px;
}

.painel-linha button  {
	margin-left: 0px;
	margin-top: 50px;	
}

video {
	height: 100%;
	width: auto;
	height: 420px;
}

iframe {
	padding: auto;
}

/* FIM - PAINEL COM VIDEO */

/* INICIO REFERENCIA */

.referencia {
width: 80%;
margin-bottom: -10px;
display: flex;
justify-content: space-around;
align-items: stretch;
}

.referencia-texto p {
	font-size: 21px;
}


.referencia-texto h3, p {
	text-align: left;
	color:#140083;
	font-weight: bold;
}


.referencia-texto  {
	text-align: left;
	margin-left: 0px;
	margin-top: -90px;
	width: 860px;

}

.referencia-botao  {
	margin-bottom: 100px;
}

/*branch matheus*/
header {
   margin:0  auto;
   width: 100%;
   height: 100%;
   background-color: #140083;
}

.logo{
	width:20%;
}
.box-menu{
	width: 100%;
	height:50px;
	margin:0 auto;
	position: relative;
   	background-color: #140083;
}

header nav {
   float: right;
   display: block;
   margin-right:50px;
   background-color: #140083;
 }
header nav ul {
   list-style-type: none;
   margin: 0;
   padding:0;
}

header nav ul li {
   float: left;
}

header nav ul li a {
   display: block;
   width: 150px;
   line-height: 50px;
   color: white;
   font-size:18px;
   font-weight:bold;
   font-family:'Roboto', sans-serif;
}

header nav ul li a:link, header nav ul li a:visited {
   font-weight: bold;
   color: white;
   text-align: center;
   text-decoration: none;
   text-transform: lowercase;
}

header nav ul li a:hover, header nav ul li a:hover {
   background-color: #FF7200;
   color: white;
}

.box-title{
	position:relative;
}

.box-title h1{
	width:100%;
	/*padding:10px 0 10px 0;*/
	margin:0;
	font-family:'Roboto', sans-serif;
	font-size:50px;
	position:absolute;
	top:100px;
	font-weight:black;
	color:white;
}

.box-title img{
	position:relative;
	width:100%;
}

.box-full{
	width:90%;
	margin:auto;
}

.row{
	width:100%;
	padding:20px 0;
	display:flex;
}

.row-3{
	width:80%;
	padding:20px 0;
	display:flex;
	margin-left: auto;
	margin-right: auto;
	
}

.box-profile{
	display:inline-block;
	width:30%;
	vertical-align: top;
	margin:0 1%;
	padding:30px 20px;
	background-color:#f2f3fe;
	box-sizing:border-box;
	border:5px solid #140083;
	border-radius: 10px;
	position: relative;
}

.box-profile h3{
	font-color:#140083;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	font-family:'Roboto', sans-serif;

}

.box-profile p{
	font-family:'Roboto', sans-serif;
	font-size:12px;
	text-align:left;
}

.photo-profile{
	width:70%;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.box-profile-3{
	display:inline-block;
	width:30%;
	vertical-align: top;
	margin:0 1%;
	padding:30px 20px;
	background-color:#f2f3fe;
	box-sizing:border-box;
	border:5px solid #140083;
	border-radius: 10px;
	justify-content:center;
	position: relative;
}

.box-profile-3 h3{
	font-color:#140083;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	font-family:'Roboto', sans-serif;
}

.box-profile-3 p{
	font-family:'Roboto', sans-serif;
	font-size:12px;
	text-align:left;
}

.button-linkedin {
  background-color: #ff7200;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  padding: 5px;
  width: 100px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius:10px;
  display:block;
  margin-top:20px;
}

.button-linkedin a {
 	text-decoration:none;
 	font-weight:bold;
 	font-size:14px;
 	color:#FFFFFF;
 }
.button-linkedin:hover{
	transform:scale(1.2);
}

.button-linkedin a:hover{
 	text-decoration:none;
 	font-size:16px;
 	color:#FFFFFF;
 	transform: scale(1.2);
 }

.button-linkedin a:visited{
	text-decoration:none;
	font-size:14px;
	font-color:#000000;
}

.button-leiamais{
  border: none;
  color: black;
  padding:0;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

 
 /*SOMENTE PARA BOTÃO LEIA MAIS*/
 #mais1{
	display:none;
}
#mais2{
	display:none;
}
#mais3{
	display:none;
}
#mais4{
	display:none;
}
#mais5{
	display:none;
}
#mais6{
	display:none;
}
#mais7{
	display:none;
}#mais8{
	display:none;
}


/* INICIO Botão SUBIR */
#subir {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #ff7200;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

#subir:hover {
	border: 1px solid white;
	background-color: #140083;
}
/* FIM Botão SUBIR */