body {
	background-color: #ffffff;
	text-align: center;
	padding: 0px;
    margin: 0px;
	font-family: "Roboto", sans-serif;
}

h1 {
	font-weight: bold;
}

h3 {
	margin: 30px;
	padding-top: 50px;
	padding-bottom: 10px;
	color: black;
	text-align: center;
	font-size: x-large;
	font-weight: bold;}

.justificaTexto {
	text-align: justify;
}

button {
	background-color:#FF7200;
	border: none;
	color: #140083;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

button:hover{
	background-color: #140083;
	color: white;
	border:1px solid #fff;
}

/* INICIO - MENU */

.menu {
	margin: 0;
	padding: 0;
	border-radius: 2px;
	background-color: #140083;
	width: 100%;
	height: 75px;
}

.menu ul {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0;
	display: inline-block;
	position: relative;
	vertical-align: top;
	float: left;

	list-style-type: none;
	overflow: hidden;
	
}

.menu li {
	margin-top: 2px;
	float: left;
	border-right: 1px solid #FF7200;
}

.menu li:last-child {
	border-right: none;
}

.menu li a {
	display: block;
	color: #FF7200;
	font-family: Times New Roman;
	font-size: 20px;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}

.menu li a:hover:not(.active) {
	background-color: #FF7200;
	color: #140083;
}

.menu .active {
	background-color: #140083;
	color: #FF7200;
}

.menu img {
	padding-top: 5px;
	margin-right: 10px;
	border-right: 1px solid #140083;
}
/* FIM - MENU */

/* INICIO - CARD */

/* Sombra e tamanho do card */
.card {
	margin:auto;
	margin-bottom: 30px;
	padding: 5px 16px;
	width: 20%;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

/* OnMouseOver do card */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

/* tamanho img ajustar ao pai */
img {
	max-width: 100%;
	max-height: 100%;
}

/* coloca cards em linha */
#noticias-card {
	display: flex;
	justify-content: space-between;
}

/* coloca cards em coluna */
@media screen and (max-width: 750px) {
	.card {
		margin-bottom: 50px;
		padding: 5px 16px;
		width: 100%;
		height: 100%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}

	#noticias-card {
		display: block;
	}
}

/* FIM - CARD */

/* INICIO - PAINEL COM VIDEO 2 */

.painel {
	width: auto;
	margin-bottom: 50px;
	background-color: #140083;
}

.painel h3 {
	color: #FF7200;
}

.painel p {
	margin-top: 80px;
	color: #fff;
	font-size: 21px;
}

.painel-coluna {
	padding: 0 60px;
	width: 50%;
}

.painel-linha {
	max-width: 80%;
	
	margin: 0 auto;
	display: flex;
	padding-bottom: 30px;
}

.painel-linha video {
	max-width: 80%;
	height: 420px;
	margin: 0 auto;
	display: flex;
	padding-bottom: 30px;
}

.painel-linha button  {
	margin-left: -450px;
	margin-top: 50px;	
}

video {
	height: 100%;
	width: auto;
	height: 420px;
}

/* FIM - PAINEL COM VIDEO 2 */

/* INICIO REFERENCIA */

.referencia-texto h3 p {
	text-align: left;
	margin-left: 80px;
	margin-top: -20px;
	list-style-type: none;
}

.referencia-botao {
display: block;
float:right;
text-decoration: none;

}
/* FIM REFERENCIA */